/* Personalizar títulos de apartados */
h2, h3, h4, h5, h6 {
    font-weight: normal !important; /* NO-Negrita */
}

/* Ajustar tamaño para cada nivel de título */
h1 {
    color: #4431f0 !important; /* Color azul */
    font-size: 30px !important; /* Puedes personalizarlo más */
    text-transform: uppercase !important;
}

h2 {
    color: #368f18 !important; 
    font-size: 26px !important;
}

h3 {
    color: #781343 !important; /* Color bermellón */
    font-size: 22px !important;
}

h4 {
    color: #8c1773 !important;
    font-size: 18px !important;
}

.footer-copyright {
    text-align: center;
    font-size: 14px;
    color: #777;
    padding: 20px 0;
    margin-top: 50px;
    border-top: 1px solid #ddd;
}

/* Estilo del bloque de código */
pre {
    background-color: #f4f4f4;  /* Fondo del bloque de código */
    border: 1px solid #ddd;    /* Borde suave alrededor del bloque */
    padding: 10px;              /* Espacio alrededor del código */
    border-radius: 5px;         /* Bordes redondeados */
    overflow-x: auto;           /* Permite el desplazamiento horizontal si el código es largo */
}

pre code {
    font-style: italic;            /* Cursiva */
    font-family: 'Courier New', monospace; /* Tipo de letra para código */
    color: #333;                 /* Color del texto */
    background: none;            /* Elimina el fondo extra para el código dentro del bloque */
}